<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.goods.mapper.CustomGoodsMapper">
	<select id="selectAllGoodsInfo"  resultType="com.sht.goods.po.GGoods">
		
		SELECT u0.id as userId,u0.headimg as headImg,g0.*,GETREGIONBYBASEID(g0.region) as addr,getGoodsMainImgPath(g0.id) as path,getGoodsMessageNum(g0.id) as msgNum
		FROM USERS U0,goods g0
		WHERE g0.owner = U0.id 
	</select>
	
</mapper>