<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.goods.mapper.CustomGoodsMapper">
	<select id="selectAllGoodsInfo" parameterType="com.sht.goods.po.GGoods" resultType="com.sht.goods.po.GGoods">
		SELECT *
		FROM(
			SELECT A.*,ROWNUM RN
			FROM (
				SELECT U0.ID AS USERID,U0.HEADIMG AS HEADIMG,G0.*,GETREGIONBYBASEID(g0.region) AS ADDR,getGoodsMainImgPath(G0.ID) AS PATH,getGoodsMessageNum(G0.ID) AS MSGNUM,rownum
				FROM USERS U0,GOODS G0
				WHERE G0.OWNER = U0.ID ) A
			WHERE ROWNUM <![CDATA[<=]]>#{maxLine} )
		WHERE RN<![CDATA[>]]>#{minLine}
	</select>
	
	<select id="selectGoodsTotalNum"  resultType="Double">
		select count(*) from goods
	</select>
	
	<select id="selectGoodsTotalNumByRegion"  resultType="Double" parameterType="Double">
		select count(*) from goods where region = val
	</select>
	
	
</mapper>