<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.goods.mapper.CustomGoodsMapper">
	<select id="selectAllGoodsInfo" resultType="com.sht.goods.po.Goods">
		
		SELECT * FROM GOODS 
		
	</select>
	
	

</mapper>