<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.goods.mapper.GCustomClazzsMapper">
	<select id="selectAllClazzs"  resultType="com.sht.goods.po.GClazzs">
		select * from clazzs order by id asc
	</select>

	<select id="selectGoodsClazz" parameterType="string" resultType="string">
		select clazz from goods_clazzs where goods=#{value}
	</select>
	
	<!-- <update id="updateClazzNum" parameterType="string">
		update clazzs set num=num-1 where id=#{id}
	</update> -->
	
</mapper>