<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.goods.mapper.GCustomGoodsMapper">
	<select id="selectAllGoodsInfo" parameterType="com.sht.goods.po.GGoods"
		resultType="com.sht.goods.po.GGoods">
		SELECT *
		FROM(
		SELECT A.*,ROWNUM RN
		FROM (
		SELECT U0.ID AS USERID,U0.HEADIMG AS
		HEADIMG,U0.USERNAME AS USERNAME,G0.*,GETREGIONBYBASEID(g0.region) AS
		ADDR,getGoodsMainImgPath(G0.ID) AS PATH,getGoodsMessageNum(G0.ID) AS
		MSGNUM,getclazzsbygoodsid(g0.id) as clazz
		FROM USERS U0,GOODS G0
		WHERE G0.OWNER = U0.ID AND G0.STATUS=0
		<if test="0 != region">
			and region in (
			 select region.id from region where pid in(
              select region.id from region where pid=#{region}
              )
			)
		</if>
		<if test="minPrice !=0 or maxPrice != 0">
			and sprice between #{minPrice} and #{maxPrice}
		</if>
		<if test="clazz != 0">
			and g0.id in (select goods from goods_clazzs where clazz=#{clazz})
		</if>
		<if test="3 != orderByTime">
			order by createtime desc
		</if>
		<if test="3 != orderByPrice">
			<if test="1 == orderByPrice">
				order by sprice desc
			</if>
			<if test="2 == orderByPrice">
				order by sprice asc
			</if>
		</if>
		
	
		) A
		WHERE ROWNUM <![CDATA[<=]]>#{maxLine}
		)
		WHERE RN<![CDATA[>]]>#{minLine}
		
	</select>

	<select id="selectGoodsTotalNum" resultType="double" parameterType="com.sht.goods.po.GGoods">
		select count(*) from
		goods 
		where status=0
		
		<if test="sregion != 0 and sregion != null">
			and region in (
					 	select region.id from region where pid in(
		              		select region.id from region where pid=#{sregion}
		              	)
					)
			
		</if>
		
		<if test="minPrice != 0 or maxPrice != 0">
			and sprice between #{minPrice} and #{maxPrice}
					
		</if>
		
		<if test="clazz != 0">
			
				and	goods.id in (select goods from goods_clazzs where clazz=#{clazz})
					
		</if>
		
	</select>

	<select id="selectGoodsDetailInfo" resultType="com.sht.goods.po.GGoods"
		parameterType="string">
		SELECT U0.ID AS USERID,U0.HEADIMG AS
		HEADIMG,U0.USERNAME AS USERNAME,G0.*,GETREGIONBYBASEID(g0.region) AS
		ADDR,getGoodsMainImgPath(G0.ID) AS PATH,getGoodsMessageNum(G0.ID) AS
		MSGNUM,getclazzsbygoodsid(g0.id) as clazz
		FROM USERS U0,GOODS G0
		WHERE G0.OWNER = U0.ID and g0.id =#{value}
	</select>
	
	<select id="selectGoodsImgs" resultType="string" parameterType="string">
		select getimgspathbygoodsid(goods.id) as
		from goods
		where goods.id=#{value}	
	</select>
	
	<update id="updateGoodsPurchaseInfo" parameterType="com.sht.goods.po.GGoods">
		update goods set buyer=#{buyer},buytime=#{buytime},toprovince=#{toprovince},tocity=#{tocity},tocounty=#{tocounty},todetail=#{todetail},phone=#{phone},
		torealname=#{torealname},status=#{status}  where id=#{id}
	</update>

	


</mapper>