<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx">
	<!-- *******************配置spring对 权限管理 层的管理 start******************* -->







	<!-- 	
		**解释:
		访问authc权限时,如果存在token字段(username和password),那么提交token到自定义realm验证,验证失败进入loginUrl,成功放行;
		如果不存在token字段,那么直接跳转loginUrl;
	-->
	<!-- web.xml中的shiro的filter对应的bean start -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<!-- 没有登录的用户请求需要登录的页面时自动跳转到登录页面，不是必须的属性，不输入地址的话会自动寻找项目web项目的根目录下的”/login.jsp”页面 -->
		<!-- **登录界面的url需与此处相同 -->
		<property name="loginUrl" value="/users/login.action"></property>
		<!-- 登录成功后的访问的url -->
		<property name="successUrl" value="/users/view/index.jsp"></property>
		<!-- 通过了,但是没有权限 -->
		<property name="unauthorizedUrl" value="/users/view/refuse.jsp"></property>
		<!-- 过滤链由上往下执行 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- 请求该地址推出shiro的session,建议你logout放在上面 -->
				/users/logout.action = logout
				<!-- 对静态资源匿名访问 -->
				/**/js/** = anon
				/**/css/** = anon
				/**/img/** = anon
				/**/plugin/** = anon
				<!-- 拦截未认证 -->
				/** = authc
			</value>
		</property>
		
	</bean>
	<!-- web.xml中的shiro的filter对应的bean end -->
	
	
	
	
	
	
	<!-- 配置凭证匹配器 start -->
	<bean id="credentialsMatcher"
		class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithm" value="md5"></property>
		<property name="hashIterations" value="1"></property>	
	</bean>
	<!-- 配置凭证匹配器 end -->






	<!-- realm start -->
	<bean id="usersRealm" class="com.sht.users.realm.UsersRealm">
		<property name="credentialsMatcher" ref="credentialsMatcher"></property>
	</bean>
	<!-- realm end -->




	<!-- securityManager start -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="usersRealm"></property>
	</bean>
	<!-- securityManager end -->






	<!-- *******************配置spring对 权限管理 层的管理 end******************* -->
</beans>
