<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.users.mapper.CustomUsersMapper">
	<select id="selectUserByUsername" parameterType="string" resultType="com.sht.users.po.CustomUsers">
		SELECT * FROM USERS WHERE USERNAME=#{USERNAME}
		
	</select>
	
	<insert id="insertUser" parameterType="com.sht.users.po.CustomUsers">
		INSERT INTO USERS(ID,USERNAME,PASSWORD,EMAIL,SALT,SEX,SCORE,REGISTTIME) values(#{id},#{username},#{password},#{email},#{salt},#{sex},#{score},#{registtime}) 
	</insert>
</mapper>