<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.users.mapper.UGoodsMapper">
	<select id="getGoodsById" parameterType="string" resultType="com.sht.users.po.UGoods">
		
		SELECT g.*,getGoodsMainImgPath(g.id) as mainImgPath FROM ( SELECT G.*, ROWNUM RN FROM (SELECT * FROM GOODS WHERE OWNER=#{id} AND STATUS NOT IN (-2,-5)) G WHERE ROWNUM &lt;= #{pageEnd}) g WHERE RN &gt;= #{pageStar}
	</select>
	
	<select id="getBuyGoodsById" parameterType="string" resultType="com.sht.users.po.UGoods">
		
		SELECT g.*,getGoodsMainImgPath(g.id) as mainImgPath FROM ( SELECT G.*, ROWNUM RN FROM (SELECT * FROM GOODS WHERE BUYER=#{id} AND STATUS IN (1,2,-1,-8,-9)) G WHERE ROWNUM &lt;= #{pageEnd}) g WHERE RN &gt;= #{pageStar}
	</select>
	
	<select id="searchUGoodsBytitle" parameterType="string" resultType="com.sht.users.po.UGoods">
		
		SELECT g.*,getGoodsMainImgPath(g.id) as mainImgPath FROM ( SELECT G.*, ROWNUM RN FROM (SELECT * FROM GOODS WHERE title LIKE  '%${title}%' AND STATUS NOT IN (-2,-5)) G WHERE ROWNUM &lt;= #{pageEnd}) g WHERE RN &gt;= #{pageStar}
	</select>
	
	<select id="searchBuyUGoodsBuyBytitle" parameterType="string" resultType="com.sht.users.po.UGoods">
		
		SELECT g.*,getGoodsMainImgPath(g.id) as mainImgPath FROM ( SELECT G.*, ROWNUM RN FROM (SELECT * FROM GOODS WHERE title LIKE  '%${title}%' AND STATUS IN (1,2,-1,-8,-9)) G WHERE ROWNUM &lt;= #{pageEnd}) g WHERE RN &gt;= #{pageStar}
	</select>
	
	<select id="getGoodsCountById" parameterType="string" resultType="int">
		
		SELECT count(*) FROM GOODS WHERE OWNER=#{id} AND STATUS NOT IN (-2,-5)
		
	</select>
	
		<select id="getBuyGoodsCountById" parameterType="string" resultType="int">
		
		SELECT count(*) FROM GOODS WHERE BUYER=#{id} AND STATUS IN (1,2,-1,-8,-9)
		
	</select>
	
	
	<select id="getGoodsDetailById" parameterType="string" resultType="com.sht.users.po.UGoods">
		
		SELECT * FROM GOODS WHERE id=#{id} AND STATUS NOT IN (-2,-5)
	</select>
	
	<delete id="updateGoodsByidAndStatus" parameterType="com.sht.users.po.UGoods">
		UPDATE GOODS SET STATUS=#{status} WHERE ID = #{id}
	</delete>
	
	<delete id="udateBuyGoodsByidAndStatus" parameterType="com.sht.users.po.UGoods">
		UPDATE GOODS SET STATUS=#{status} WHERE ID = #{id}
	</delete>
	
	<update id="UpdateUGoodsById" parameterType="com.sht.users.po.UGoods">
		UPDATE GOODS SET TITLE=#{title},DESCRIPTION=#{description},PRICE=#{price},SPRICE=#{sprice},CONDITION=#{condition},REGION=#{region},LASTUPDATETIME=#{lastupdatetime} WHERE ID=#{id}	
	</update>
	
	<select id="getGoodsByIdAndStatus" parameterType="string" resultType="com.sht.users.po.UGoods">
		
		SELECT g.*,getGoodsMainImgPath(g.id) as mainImgPath FROM ( SELECT G.*, ROWNUM RN FROM (SELECT * FROM GOODS WHERE OWNER=#{id} AND STATUS=#{status}) G WHERE ROWNUM &lt;= #{pageEnd}) g WHERE RN &gt;= #{pageStar}
	</select>
	
	<select id="getBuyGoodsByIdAndStatus" parameterType="string" resultType="com.sht.users.po.UGoods">
		
		SELECT g.*,getGoodsMainImgPath(g.id) as mainImgPath FROM ( SELECT G.*, ROWNUM RN FROM (SELECT * FROM GOODS WHERE BUYER=#{id} AND STATUS=#{status}) G WHERE ROWNUM &lt;= #{pageEnd}) g WHERE RN &gt;= #{pageStar}
	</select>
	
	<update id="solderAddMoney" parameterType="com.sht.users.po.UGoods">
		UPDATE USERS SET MONEY=MONEY+#{sprice} WHERE ID=#{owner}	
	</update>
	
	<update id="buyerAddMoney" parameterType="com.sht.users.po.UGoods">
		UPDATE USERS SET MONEY=MONEY+#{sprice} WHERE ID=#{buyer}	
	</update>
	
	<update id="buyerAddScore" parameterType="com.sht.users.po.UGoods">
		UPDATE USERS SET SCORE=SCORE+#{sprice} WHERE ID=#{buyer}	
	</update>
	<update id="goodsCheckImgUpload" parameterType="com.sht.users.po.UGoods">
		UPDATE GOODS SET REFUSERETURNMONEYBILL=#{refusereturnmoneybill} WHERE ID=#{id}	
	</update>
	
</mapper>