* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

#header {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background-color: #ffcc00;
}

h1 {
    display: inline-block;
    position: relative;
    line-height: 70px;
    margin-left: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header > ul {
    display: inline-block;
    position: relative;
    height: 70px;
}

#header > ul > a {
    position: relative;
    display: inline-block;
    color: black;
    margin-right: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
#header>ul>a>li{
    padding: 5px 10px 5px 10px;
}
#header > ul > a:first-of-type {
    margin-left: 30px;
}

#header > a {
    display: inline-block;
    position: relative;
    color: black;

}


#header >ul> a>li:hover {
    color: black;
    text-decoration: none;
}

#header>ul>a:nth-of-type(2)>li{
    border-bottom: 2px solid black;
}

.clearFloat {
    clear: both;
}


.content {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.content-left, .content-right {
    float: left;
    position: relative;
    display: block;
    height: 500px;
    /*border: 1px solid lightgrey;*/
}

.content-left {
    margin-left: 100px;
    width: 10%;
    text-align: right;
}

.content-right {
    border: 1px solid lightgrey;
    width: 60%;
    margin-left: 10px;
}

.content-left > img {
    height : 100px ;
    width :100px;
    border: 1px solid lightgrey;
    box-shadow:0px 0px  1px 1px #aaa;
}


.content-left>p{
    text-align: center;
    margin-top: 10px;
}

.content-left>ul>li{
    display: inline-block;
    position: relative;
    margin-top: 10px;
}


.add-img{
    display: block;
    position: relative;

}

.add-img>ul{
    margin: 20px;
}

.add-img>ul>li,.new-li{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 120px;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-right: 40px;
}

#add>img{
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 80px;
    top:50%;
    left:50%;
    margin-left: -30px;
    margin-top: -40px;
}

.new-li>img{
	display: inline-block;
    position: absolute;
    top:0;
    left:0;
    margin-left:0;
    margin-top:0;
}

.line{
    position: relative;
    display: block;
    width:95%;
    border-bottom: 2px dotted lightgrey;
    margin: 0 auto;
}

.detail-info{
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    
}

.detail-info>p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 18px;
}

textarea{
    margin-top: 10px;
    width: 700px;
    height: 50px;
}

.detail-info>ul{
    margin-top: 10px;
}
.detail-info>ul>li{
    display: inline-block;
    position: relative;
    line-height: 50px;
    margin-right: 80px;
}

.detail-info>ul>li>span{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;

}

.detail-info>ul>li>input,.detail-info>ul>li:nth-of-type(4) select,.detail-info>ul>li:nth-of-type(6) select{
    height: 30px;
    width: 200px;
}
.detail-info>ul>li:nth-of-type(5) select{
	 height: 30px;
    width: 65px;
}

.detail-info>input{
    position: relative;
    display: block;
    margin:20px auto;
    width: 150px;
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 5px ;
    background-color: #ffcc00;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;

}

.detail-info>input:hover{
    color: white;
}