.sc{
	width:150px;
}

/* 注册错误信息 */
.register_msg{
	width:80%;
	height:5%;
	margin-left:10%;
	margin-bottom:2%;
	text-align:center;
	float:left;
	color:red;
	font-size:15px;
	border-radius:5px;
}
.head {
	font-size: 14px;
	width: 850px;
	height: 30px;
	color: #014d7f;
	background-color: #8080ff;
	line-height: 30px;
}

.enticy {
	padding-left: 10px;
}

.form-box {
	position: relative;
	margin-top: 20px;
	width: 530px;
	height: 374px;
}

.form-box .item-title {
	line-height: 26px;
	width: 530px;
	height: 36px;
}

.form-box .item {
	position: relative;
	padding-left: 105px;
	padding-bottom: 10px;
	zoom: 1;
	text-align: left;
	z-index: 100;
}

#left1 {
	color: #fc6210;
	display: inline;
	float: left;
	width: 100px;
	margin-left: -105px;
	text-align: right;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
}

#right1 {
	width: 234px;
	height: 14px;
	font-size: 13px;
	margin-left: 5px;
}

#fm {
	width: 530px;
	height: 338px;
}

.form-box .item-devision {
	z-index: 101;
}

.form-box .item {
	position: relative;
	padding-left: 105px;
	padding-bottom: 10px;
	zoom: 1;
	text-align: left;
	z-index: 100;
}

.left2 {
	width: 100px;
	height: 26px;
	display: inline;
	float: left;
	width: 100px;
	margin-left: -105px;
	text-align: right;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
}

i {
	color: red;
	font-style: normal;
}

.right2 {
	width: 725px;
	height: 39px;
	margin-left: 5px;
	font-size: 13px;
}

.right21 {
	display: inline-block;
	width: 84px;
	height: 29px;
	float: left;
	margin-right: 10px;
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 4px 1px 1px 3px;
	outline: 0;
	position: relative;
	cursor: pointer;
	-moz-user-select: none;
}

.right211 {
	width: 72px;
	height: 29px;
	font-size: 10px;
	cursor: pointer;
	-moz-user-select: none;
	padding: 0;
	margin: 0;
}

.left3 {
	width: 100px;
	height: 26px;
	display: inline;
	float: left;
	width: 100px;
	margin-left: 0;
	text-align: right;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
}

.street {
	width: 530px;
	height: 80px;
}

.boxstreet {
	display: inline-block;
	overflow: hidden;
}

/*.comboboxinput {
			overflow: hidden;
			vertical-align: middle;
			position: relative;
		}
		
		.inputbox {
			display: block;
			margin: 0;
			padding: 3px;
			width: 392px;
			height: 62px;
			border: 1px solid #afafaf;
			font-size: 12px;
		}*/

textarea {
	width: 394px;
	height: 64px;
	overflow: auto;
	vertical-align: top;
	font-family: tahoma, arial, 宋体, sans-serif;
	font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
.inputbox{
	margin-left: 10px;
	font-size: 12px;
}

.selectcity {
	display: inline-block;
	float: right;
	margin-right: 26px;
	width: 270px;
	height: 19px;
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 4px 8px;
	outline: 0;
	position: relative;
	cursor: pointer;
}

.citytitle {
	width: 272px;
	height: 19px;
}

.ks {
	width: 300px;
	height: 250px;
	left: -1px;
	top: 27px;
	position: absolute;
}

.ks-hidden {
	visibility: hidden;
}

.citywrap {
	width: 300px;
	height: 250px;
}

.citytab {
	width: 300px;
	height: 37px;
}

.citycontent {
	width: 300px;
	height: 213px;
}

.city-select {
	width: 300px;
	height: 213px;
	border: 1px #ccc solid;
	border-top: 0;
	padding: 10px 15px;
	width: 268px;
	background: #fff;
	font-size: 12px;
}

.fn-clear {
	width: 268px;
	height: 54px;
	line-height: 2;
	clear: both;
	padding: 3px 0;
	margin: 0;
}

.fn-dt {
	width: 35px;
	height: 24px;
	display: inline-block;
	width: 25px;
	float: left;
	padding-right: 10px;
	font-weight: 700;
	text-align: right;
}

.fn-dd {
	width: 233px;
	height: 48px;
	width: 233px;
	display: inline;
	float: left;
	margin-left: 0;
}

.city-select dl::after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.postcode {
	width: 530px;
	height: 36px;
	position: relative;
	padding-bottom: 10px;
}

.itemname {
	width: 530px;
	height: 36px;
	position: relative;
	padding-bottom: 10px;
}

.iteamMobile {
	width: 530px;
	height: 36px;
	position: relative;
	padding-bottom: 10px;
}

.left4 {
	display: inline;
	float: left;
	width: 100px;
	/*margin-left: -105px;*/
	text-align: right;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
}

.iteam-warp {
	margin-left: 10px;
	width: 220px;
	height: 26px;
	position: relative;
	display: inline-block;
}

.i-text {
	width: 220px;
	height: 26px;
	border: 1px solid #afafaf;
	padding: 3px;
	line-height: 18px;
	vertical-align: middle;
	font-size: 12px;
}

#mobile {
	margin-left: 10px;
	width: 100px;
	height: 24px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	outline: 0;
	cursor: pointer;
	height: 24px;
}

option {
	width: 178px;
	height: 16px;
}

.iteamdefault {
	width: 530px;
	height: 36px;
	line-height: 26px;
}

#setdefalut {
	margin-left: 110px;
	width: 13px;
	height: 13px;
}

.iteamsubmit{
	width:530px;
	height:38px;
}
.save{
	width:70px;
	height:30px;
	background-color:#ff4001;
	font-size:14px;
	color:white;
	margin-left:110px;
}
.tsl {
	font-size: 13px;
}

.area {
	width: 80px;
}

.tbl-address {
	width: 826px;
	margin: 15px 0 0 25px;
}

.caption {
	width: 826px;
	height: 21px;
	font-weight: 700;
	color: #fc6210;
	text-align: left;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tbl-main {
	width: 97%;
	table-layout: fixed;
	border: 1px solid #e7e7e7;
	font-size: 12px;
}

.thead {
	width: 800px;
	height: 41px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #e7e7e7;
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}



.city-picker-input {
    opacity: 0 !important;
    top: -9999px;
    left: -9999px;
    position: absolute;
}

.city-picker-span {
    position: relative;
    display: block;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
}

.city-picker-span > .placeholder {
    color: #aaa;
}

.city-picker-span > .arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 10px;
    margin-top: -3px;
    height: 5px;
    background: url(../img/drop-arrow.png) -10px -25px no-repeat;
}

.city-picker-span.focus,
.city-picker-span.open {
    border-color: #46A4FF;
}

.city-picker-span.open > .arrow {
    background-position: -10px -10px;
}

.city-picker-span > .title > span {
    color: #333;
    padding: 5px;
    border-radius: 3px;
}

.city-picker-span > .title > span:hover {
    background-color: #f1f8ff;
}

.city-picker-dropdown {
    position: absolute;
    width: 315px;
    left: -9999px;
    top: -9999px;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 999999;
    display: none;
    min-width: 330px;
    margin-bottom: 20px;
}

.city-select-wrap {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.city-select-tab {
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 13px;
}

.city-select-tab > a {
    display: inline-block;
    padding: 8px 22px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    color: #4D4D4D;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: -1px;
}

.city-select-tab > a.active {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #46A4FF;
}

.city-select-tab > a:first-child {
    border-left: none;
}

.city-select-tab > a:last-child.active {
    border-right: 1px solid #ccc;
}

.city-select-content {
    width: 100%;
    min-height: 10px;
    background-color: #fff;
    /*padding: 10px 15px;*/
}

.city-select {
	width: 330px;
	height: 350px;
    font-size: 13px;
}

.city-select dl {
    line-height: 2;
    clear: both;
    padding: 3px 0;
    margin: 0;
}

.city-select dt {
    position: absolute;
    width: 2.5em;
    font-weight: 500;
    text-align: right;
    line-height: 2;
}

.city-select dd {
    margin-left: 0;
    line-height: 2;
}

.city-select.province dd {
    margin-left: 3em;
}

.city-select a {
    display: inline-block;
    padding: 0 10px;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 2px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.city-select a:hover,
.city-select a:focus {
    background-color: #f1f8ff;
    border-radius: 2px;
    color: #46A4FF;
}

.city-select a.active {
    background-color: #46A4FF;
    color: #fff;
    border-radius: 2px;
}



/* Basic style
 * -------------------------------------------------------------------------- */

/* Header */

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #337ab7;
}

.navbar-toggle .icon-bar {
  background-color: #337ab7;
}


/* Jumbotron */

.docs-jumbotron {
  background-color: #3f51b5;
  color: #fff;
}

.docs-jumbotron .version {
  font-size: 14px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}


.docs-carbonads-container {
  position: relative;
}

.docs-carbonads {
  max-width: 350px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.carbon-wrap {
  overflow: hidden;
}

.carbon-img {
  clear: left;
  float: left;
  display: block;
}

.carbon-text,
.carbon-poweredby {
  display: block;
  margin-left: 140px;
}

.carbon-text,
.carbon-text:hover,
.carbon-text:focus {
  color: #fff;
  text-decoration: none;
}

.carbon-poweredby,
.carbon-poweredby:hover,
.carbon-poweredby:focus {
  color: #ddd;
  text-decoration: none;
}

@media (min-width: 992px) {
  .docs-carbonads {
    position: absolute;
    right: 0;
    bottom: 5px;
  }
}


/* Content */

.dropzone {
  padding: 150px 15px;
  border: 1px dashed #eee;
  background-color: #fcfcfc;
  text-align: center;
}

/*.dropzone > input {
  display: inline-block;
  vertical-align: top;
}*/

.logs {
  height: 320px;
  padding: 10px 15px;
  border: 1px solid #eee;
  background-color: #fcfcfc;
  overflow-x: hidden;
  overflow-y: auto;
}

.logs > p {
  margin-bottom: 5px;
  color: #666;
}


/* Footer */

.docs-footer {
  overflow: hidden;
  margin-bottom: 300px;
}

.hearts {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ddd;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.hearts:hover {
  color: #ff4136;
}

.hearts:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  height: 0;
  border-top: 1px solid #eee;
  content: " ";
}

.hearts:after {
  position: relative;
  z-index: 1;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  content: "♥";
}

/*input{
  min-width: 360px;
}*/


/* Google Code Prettify
 * -------------------------------------------------------------------------- */

.prettyprint {
  margin-bottom: 0;
  padding: 15px !important;
  border: 1px solid #ddd !important;
}
