#content {
	width: 100%;
	min-height: 350px;
	border-top: 1px solid #fff;
}

.content-layout {
	width: 990px;
	height: 441px;
	margin: 0 auto;
	padding: 30px 0;
	width: 990px;
	height: auto;
}

.maincenter {
	margin: 0 auto;
	width: 774px;
	height: auto;
	padding: 20px 0;
	background-color: #fff;
}

.maincenter-tip {
	width: 774px;
	height: 31px;
}

.ui-form {
	width: 774px;
	margin-top: 30px;
	color: #6c6c6c;
	font-size: 12px;
	line-height: 1.5;
}

.ui-form-item {
	padding: 0 5px 20px 190px;
}

.ui-label {
	width: 210px;
	height: 26px;
	float: left;
	width: 210px;
	margin-left: -220px;
	padding-top: 5px;
	text-align: right;
	font-size: 14px;
}

.ui-input {
	width: 190px;
	padding: 8px 9px;
	line-height: 18px;
	height: 18px;
	border: 1px #ff6749 solid;
	font-size: 12px;
	vertical-align: middle;
}

.ui-form-other {
	margin-left: 4px;
	font-size: 12px;
	line-height: 1.5;
}

.ui-form-explain {
	color: #FF5243;
}

.ui-form-explain::after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

.ui-button {
	line-height: 36px;
	height: 36px;
	min-width: 150px;
	color: #fff;
	border: 1px solid #f40;
	background-color: #f40;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	border-radius: 2px;
	padding: 0 20px;
	background-image: no
}