* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

#header {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background-color: #ffcc00;
}

h1 {
    display: inline-block;
    position: relative;
    line-height: 70px;
    margin-left: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header > ul {
    display: inline-block;
    position: relative;
    height: 70px;
}

#header > ul > a {
    position: relative;
    display: inline-block;
    color: black;
    margin-right: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

#header > ul > a:first-of-type {
    margin-left: 30px;
}

#header > a {
    display: inline-block;
    position: relative;
    color: black;

}


#header >ul> a>li:hover {
    color: black;
    text-decoration: none;
}

#header>ul>a:nth-of-type(2)>li{
    border-bottom: 2px solid black;
}
.clearFloat {
    clear: both;
}

#body {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.body_left{
    float: left;
    position: relative;
    display: block;
    height: 400px;
    /*border: 1px solid lightgrey;*/
}
#body_right {
    float: left;
    position: relative;
    display: block;
    height: 395px;
    width:764px;
    border: dotted 1px grey;
    border-radius:10px;
    /*border: 1px solid lightgrey;*/
}

.body_left {

    margin-left: 100px;
    width: 10%;
    text-align: right;
}

#body_right {
   /*  border: 1px solid lightgrey;
    width: 60%; */
}

/* 左侧用户头像 */
/* .body_left_img{
    height : 90px ;
    width :90px;
    border: 1px solid lightgrey;
    box-shadow:0px 0px  1px 0px #aaa;
    border-radius:90px;
   	position:relative;
    right:-20px; 
     
} */
.body_left_img{
	height : 90px ;
    width :120px;
}

.body_left_img img{
	height : 90px ;
    width :90px;
    border-radius:90px;
    box-shadow:0px 0px  1px 1px #aaa;
    margin-right:10%;
}
 .body_left_img p{
 	
	/* background-color:grey; */
	margin-left:18%;
	width:75%;
	position:relative;
	right:3%; 
	top:-55px;
	text-align:center;
	display: none;
}  

.body_left_img:hover {
	cursor:pointer; /* 显示手状指针 */
	transform: scale(1.2);/* 放大1.2倍 */
	transition: all 0.6s; /* 所有效果0.6秒内完成 */
}

.body_left>p{
    text-align: center;
    margin-top: 10px;
}

.body_left>ul:first-of-type>li{
    display: inline-block;
    position: relative;
    margin-top: 10px;
}
.body_left>ul>a{
    color: black;
}

.body_left>ul:last-of-type li{
    display: block;
    position: relative;
    text-align: center;
    color: black;
    cursor: pointer;
    line-height: 38px;
}
.body_left>ul:last-of-type li:hover{
    background-color: gold;
    color: white;
}


#body_right>div{

    border: 1px solid red;
    position: relative;
    /* display: block; */
    width: 700px;
    height: 400px;
    margin: 0 auto;
     border-radius:5px;
}


#body_right>div>span:first-of-type{
    font-size: 17px;
    margin-top: 30px;
}

#body_right>div>input:first-of-type{
    width: 400px;
    height: 30px;
    margin-top: 30px;
}
#body_right>div>span:last-of-type{
    display: block;
    float: left;
    margin-top: 30px;
}
textarea{
    display: block;
    float: left;
    width: 400px;
    height: 300px;
    margin-top: 30px;
}