.register_box{
	
	width: 320px;
	height: 430px;
	border: solid 1px gainsboro;
	border-radius:5px;
	background-color:white;
	position: absolute;
  	z-index:998;
	left:37%;
  	top:10%;
}

.register_close{
	width: 4%;
	height: 3%;
	padding-bottom:1%;
	float: right;
	font-size: 12px;
	text-decoration: none;
	border: solid 1px rgb(243,243,243);
	background-color: rgb(243,243,243);
	border-radius:50%;
	/* -moz-border-radius: 50%;    */   
	-webkit-border-radius: 50%;
	text-align: center;
}
.register_close:hover{
	padding-bottom:1%;
	width: 4%;
	height: 3%;
	font-size: 12px;
	text-decoration: none;
	border: solid 1px rgb(243,243,243);
	background-color: grey;
	border-radius:50%;
	/* -moz-border-radius: 50%;  */     
	-webkit-border-radius: 50%;
	color: white;
	text-align: center;
	/*padding-top: -15px;*/
	
}



/*娉ㄥ唽鐨勬爣棰�*/
.register_title{
	width: 100%;
	height: 8%;
	background-color: rgb(243,243,243);
	text-align:center;
	padding-top: 5%;
	font-size: 19px;
	letter-spacing:5px;
}


/*娉ㄥ唽鐨勮緭鍏ユ*/
.register_input label{
	font-size: 16px;
	color:rgb(151,151,151);
	padding-left: 5%;
}
.register_input input{
	width: 65%;
	margin-left: 10%;
	height: 30px;
	border: solid 1px rgb(243,243,243);/*beige*/
	outline:none;
	font-size: 13px;
	margin-top: 4%;
	margin-left: 13%;
	border-radius:5px;
}
/*纭瀵嗙爜妗�*/
#sure_ps{
	margin-left: 3%;
}
/*楠岃瘉鐮佹*/
#code{
	width: 20%;
	margin-left: 7%;
}

.register_input img{
	/*border: solid 1px black;*/
	width: 40%;
	height: 8%;
	margin-top: 5%;
	margin-left: 5%;
	position: relative;
	top:10px;
}
/*鍗忚涔�*/
.descript_book{
	margin: 5% auto;
}
.descript_book input{
	margin-left: 30%;
}


/*.register_input input{
	width: 65%;
	margin-left: 10%;
	height: 40px;
	border: none;
	outline:none;
	font-size: 16px;
}

.register_input label{
	font-size: 16px;
	color:rgb(151,151,151);
	padding-left: 5%;
}
.register_input hr{
	width: 80%;
	padding-left: 10%;
}
*/
/*娉ㄥ唽鎸夐挳*/
.register_button{
	margin-left:5% ;
	background-color: rgb(255,219,68);
	border-radius:5px;
	width: 90%;
	height: 45px;
	border: solid 1px gainsboro;
	font-size: 17px;
}
.register_button:hover { 
	/*border:solid 1px #c00;*/
	background: none;
	cursor:pointer;
	}
.register_button:focus { 
	outline: none;
	/*border:solid 1px black;*/
	/*background-color: white;*/
}

.forgive_a{
	float: right;
	text-decoration: none;
	font-size: 15px;
	color: gray;
}
/* 娉ㄥ唽閿欒淇℃伅 */
.register_msg{
	width:80%;
	height:5%;
	margin-left:10%;
	margin-bottom:2%;
	text-align:center;
	float:left;
	color:red;
	font-size:15px;
	border-radius:5px;
}

