.container {
	width: 100%;
	min-height: 400px;
	background-color: #f9f9f9;
	border-top: 1px solid #fff;
}

.content {
	margin: 0 auto;
	padding: 30px 0;
	width: 990px;
	height: auto;
	background-color: #f9f9f9;
}

.maincenter {
	margin: 0 auto;
	width: 774px;
	height: auto;
}

.maincenter-box {
	width: 732px;
	padding: 20px;
	margin-bottom: 30px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 1px;
	box-shadow: 1px 1px 2px #f0f0f0;
}

.ui-form {
	margin-top: 40px;
	color: #4d4d4d;
	width: 732px;
	height: 305px;
}

.ui-form-item {
	/*width: 732px;*/
	/*height: 51px;*/
	height: 60px;
	padding: 0 5px 0px 200px;
	position: relative;
}

.ui-label {
	width: 190px;
	/*height: 21px;*/
	float: left;
	margin-left: -200px;
	text-align: right;
	font-size: 14px;
	padding-top: 3px;
}

.ui-form-text {
	display: inline-block;
	font-size: 14px;
	width: 108px;
	height: 21px;
	margin-top: 4px;
}

.ui-text-amount {
	color: #fc6621;
	width: 108px;
	height: 18px;
}

.alieditContainer {
	width: 212px;
	height: 30px;
	display: inline-block;
}

.ui-input {
	width: 200px;
	padding: 7px 9px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #ccc;
	border-top-color: #a6a6a6;
}

.ui-form-explain {
	width: 500px;
	height: 18px;
	position: absolute;
	top: 35px;
	left: 200px;
	font-size: 12px;
	color: #999;
	vertical-align: top;
}

.ui-button {
	background-color: #f29914;
	width: 72px;
	color: #fff;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: -432px -66px;
	height: 31px;
	padding: 0;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	vertical-align: middle;
	cursor: pointer;
	font-family: verdana, Hiragino Sans GB;
}

.ui-button-text {
	color: #fff;
	padding: 0 22px;
	background-color: transparent;
	background-repeat: no-repeat;
	line-height: 31px;
	height: 31px;
	background-position: right -676px;
}